/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  background: url('oldMusicSheet.jpg');
}

.highlight {
	background-color: yellow;
	font-weight: bold;
}

.navbar-brand {
	position: relative;
	top: -10px;
}

.playerDiv {
	position: relative;
	background: url('radioplayer.jpg') no-repeat center;
  background-size: cover;
	min-height: 500px;
  /*background-color: black;*/
	/*overflow: auto;*/
	/*display: flex;*/
	/* justify-content: center;
  align-items: center;*/
}
/*position relative << relative to itself
	margin auto << center 
*/

audio {
  position: absolute;
  left: 37.6%;
  top: 77%;
}

audio:hover {
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	transition:all 0.5s linear;
}