<h1> Local Music Homepage </h1>

<form method="GET" action="/musics/show">
	<input type="text" name="music_title">
	<input type="submit" value="Search">
</form>

<form method='GET' action="/musics/new">
	<button> Add </button>
</form>
