<noscript>
	<h1> Local Music Server Homepage </h1>
	<br/><br/>
	<%= link_to "Add Songs", new_music_path, class: "btn btn-default" %>
	<h2>Musics in storage folder</h2>
	<ul class='songList'>
		<% @musics.each do |music| %>
			<li><%= link_to music.title, music_path(music)  %></li>
		<% end %>
	</ul>
</noscript>

<%= react_component 'Musics', { musics: @musics } %>

<footer class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
  <div class="container">
  	<ul class="nav nav-pills">
			 <li role="presentation"><%= link_to "Back", :back %></li>
		</ul>    
  </div>
</footer>