<h1> Local Music Server Homepage </h1>

<p>Musics in storage folder</p>
<ul class='songList'>
	<% @musics.each do |music| %>
		<li><%= link_to music.title, music_path(music)  %></li>
	<% end %>
</ul>

<footer class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
  <div class="container">
  	<ul class="nav nav-pills">
			 <li role="presentation"><%= link_to "Add Songs", new_music_path %></li>
			 <li role="presentation"><%= link_to "Back", :back %></li>
		</ul>    
  </div>
</footer>