<h1> Local Music Homepage </h1>

<%= form_for :music, method: :get, url: musics_show_path do |f| %>
	<%= f.text_field :title %>
	<%= f.submit "Search" %>
<% end %>

<%= link_to "Add Songs", new_music_path %>
