<h1> Your Song Request ....</h1>
<p>Search result:</p>

<br/>
<h2><%= @music.title %></h2>
<p><%= @music.path %></p>

<audio controls>
	<%= render 'stream', music: @music %>
</audio>

<%= link_to 'Remove Song', music_path(@music), method: :delete, data: {confirm: 'Are you sure?'} %>

