<h1> Your Song Request ....</h1>
<p>Search result:</p><br/>


<h2><%= @music.title %></h2>

<audio controls>
	<%= render 'stream', music: @music %>
</audio>

<%= link_to 'Remove Song', music_path(@music), method: :delete, data: {confirm: 'Are you sure?'} %><br/><br/>

<footer class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <ul class="nav nav-pills">
			 <li role="presentation"><%= link_to 'Back To Songs List', musics_path %></li>
		</ul>
  </div>
</footer>


