    <% flash.each do |key, value| %>
      <% if key == 'alert' %>
        <div style='color:red;margin-top: 80px;' class="alert alert-<%= key %>">
          <%= value %>
        </div>  	    
      <% else %>
        <div style='color:green;margin-top: 80px;' class="alert alert-<%= key %>">
  	      <%= value %>
  	    </div>
      <% end %>
	  <% end %>