<footer class="navbar navbar-default navbar-fixed-bottom navbar-inverse">	
  <div class="container">	
    <ul class="nav nav-pills">	
      <li role="presentation">

      </li>	
    </ul>	
  </div>	
</footer>